In [1]:
import numpy as np
import scipy.io as sio
import os
import re
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = sio.loadmat(os.path.join('person_1_hongxi_day_1_data.mat'))
print(data)

{'__header__': b'MATLAB 5.0 MAT-file, Platform: GLNXA64, Created on: Fri Jul 20 14:37:23 2018', '__version__': '1.0', '__globals__': [], 'data': array([[ 7.30000000e+01, -4.43725586e-01, -1.31744385e+00],
       [ 7.20000000e+01, -4.41894531e-01, -1.34582520e+00],
       [ 7.10000000e+01, -4.44335938e-01, -1.37390137e+00],
       ...,
       [ 6.30000000e+01, -4.27246094e-03,  1.65771484e+00],
       [ 6.30000000e+01, -6.10351562e-03,  1.64337158e+00],
       [ 6.30000000e+01, -7.93457031e-03,  1.62689209e+00]])}

In [6]:
hxp1d1 = pd.DataFrame(data['data'])
display(hxp1d1)

          0         1         2
0      73.0 -0.443726 -1.317444
1      72.0 -0.441895 -1.345825
2      71.0 -0.444336 -1.373901
3      71.0 -0.437622 -1.402893
4      71.0 -0.427246 -1.432190
...     ...       ...       ...
96207  64.0  0.001221  1.680298
96208  64.0  0.001221  1.669922
96209  63.0 -0.004272  1.657715
96210  63.0 -0.006104  1.643372
96211  63.0 -0.007935  1.626892

[96212 rows x 3 columns]